<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="Gameplay" />
        <binding name="Administration" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/SurvivalInstanceService/Gameplay"
        binding="wsDualHttpBinding" bindingConfiguration="Gameplay"
        contract="ZombiesClient.IGameplay" name="Gameplay">
        <identity>
          <userPrincipalName value="JenandMike-HP\JenandMike" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/SurvivalInstanceService/Administration"
        binding="wsDualHttpBinding" bindingConfiguration="Administration"
        contract="ZombiesClient.IAdministration" name="Administration">
        <identity>
          <userPrincipalName value="JenandMike-HP\JenandMike" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="LegendsOfKesmaiSurvival.Services.Zombies.ZombiesService">
        <endpoint address="Gameplay" binding="wsDualHttpBinding" bindingConfiguration=""
          name="Gameplay" contract="LegendsOfKesmaiSurvival.Services.Zombies.IGameplay" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SurvivalInstanceService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="LegendsOfKesmaiSurvival.Services.MatchMaking.MatchMakingService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="LegendsOfKesmaiSurvival.Services.MatchMaking.IMatchMakingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.MatchMaking/MatchMakingService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="LegendsOfKesmaiSurvival.Services.Chat.ChatService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="LegendsOfKesmaiSurvival.Services.Chat.IChatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Chat/ChatService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="LegendsOfKesmaiSurvival.Services.Lobby.LobbyService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="LegendsOfKesmaiSurvival.Services.Lobby.ILobbyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Lobby/LobbyService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="LegendsOfKesmaiSurvival.Services.Authentication.AuthenticationService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="LegendsOfKesmaiSurvival.Services.Authentication.IAuthenticationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Authentication/AuthenticationService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
