<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMatchMakingService" />
                <binding name="Gameplay" />
                <binding name="WSDualHttpBinding_IAuthenticationService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    useDefaultWebProxy="true" />
                <binding name="WSDualHttpBinding_IChatService" />
                <binding name="WSDualHttpBinding_ILobbyService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Authentication/AuthenticationService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAuthenticationService"
                contract="Authentication.IAuthenticationService" name="WSDualHttpBinding_IAuthenticationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Lobby/LobbyService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ILobbyService"
                contract="Lobby.ILobbyService" name="WSDualHttpBinding_ILobbyService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.Chat/ChatService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IChatService"
                contract="Chat.IChatService" name="WSDualHttpBinding_IChatService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/LegendsOfKesmaiSurvival.Services.MatchMaking/MatchMakingService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMatchMakingService"
                contract="MatchMaking.IMatchMakingService" name="WSDualHttpBinding_IMatchMakingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SurvivalInstanceService/Gameplay"
                binding="wsDualHttpBinding" bindingConfiguration="Gameplay"
                contract="Zombies.IGameplay" name="Gameplay">
                <identity>
                    <userPrincipalName value="JenandMike-HP\JenandMike" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>